background/
dataset/
defect/
demo/
final_images/
latest_image_mask_rcnn/
latest_image_mask_rcnn_torn/
latest_image_mask_rcnn_torn_wrinkle/
latest_image_mask_rcnn_wrinkle/
modified_images/
new_merged/
new_wrinkle_images/
output_predictions/
output_predictions1/
predictions/
renamed_google_images/
seats_at_acl_office/
segmentation_torn_wrinkle_2.v2i.coco-segmentation/
segmentation_torn_wrinkle_2.v4i.coco-segmentation/
skyenv/
to_demo/
torn_complete/
waviness_final/
waviness_torn_complete/
wrinkle_complete/
/dataset
